@media (min-width: 901px) {
    .container {
        background-color: black;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 90vw;
        grid-template-rows: 150px 70vh 40px;
        grid-template-areas: 
        "nv"
        "pc"
        "ft";
    }

    .image{
        width: 60vw;
        object-fit: scale-down;
    }

    #postCard{
        grid-area: pc;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    #postLink{
        font-weight: bold;
        width: 100px;
        margin-top: 50px;
    }
}