.container{
    background-color: blue;
    border: solid red;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 500px;
    grid-template-rows: 150px 400px 40px;
    grid-template-areas: 
    "nv"
    "pc"
    "ft";
}

.box{
    background-color: aquamarine;
    border: solid orange;
}

#navi{
    grid-area: nv;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

#post_card{
    grid-area: pc;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer{
    grid-area: ft;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#card_figure{
    border: 2px #dddddd solid;
    padding: 4px;
    margin: auto;
}

#card_caption{
    background-color: black;
    color: #dddddd;
    font-style: italic;
    padding: 2px;
    text-align: center;
}

.image{
    width: 400px;
    object-fit: scale-down;
}

#post_link{
    font-weight: bold;
    width: 100px;
    margin: auto;
}